# Execution Server Configs
PROJECT_NAME="Standardized Code Execution API"
API_V1_STR="/api/v1"

# Resource Limits & Constraints
CPU_LIMIT=1.0
MEMORY_LIMIT=256m
MAX_COMPILATION_TIME_SEC=20
MAX_EXECUTION_TIME_SEC=5
MAX_SOURCE_SIZE_BYTES=102400
MAX_STDIN_SIZE_BYTES=102400
MAX_STDOUT_SIZE_BYTES=1048576
MAX_PIDS=64
